@import "tailwindcss";

@theme {
  --color-primary: #10b981;
  --color-primary-hover: #059669;
  --color-primary-light: #d1fae5;
  --color-primary-dark: #065f46;
  
  --color-secondary: #14b8a6;
  --color-secondary-hover: #0d9488;
  --color-secondary-light: #ccfbf1;
  --color-secondary-dark: #0f766e;
  
  --color-accent: #22c55e;
  --color-accent-hover: #16a34a;
  --color-accent-light: #dcfce7;
  --color-accent-dark: #15803d;
}